<%page args="kernels, runtime_img, basearch, outroot"/>
<%inherit file="base.tmpl"/>

<%block name="runtime_image">
    # Define the base path for config files (repo root)
    % set REPO_ROOT = buildinstdir

	#### Branding ####
	sed -i 's/getaurora\.dev/github\.com\/reisaraujo-miguel\/felux/' /usr/lib/os-release	
	sed -i 's/ublue-os\/bluefin/reisaraujo-miguel\/felux/' /usr/lib/os-release

	sed -i 's/Aurora-dx/Felux/' /usr/lib/os-release
	sed -i 's/Aurora/Felux/' /usr/lib/os-release
	sed -i 's/aurora-dx/felux/' /usr/lib/os-release
	sed -i 's/aurora/felux/' /usr/lib/os-release

	sed -i 's/Aurora-dx/Felux/' /etc/yafti.yml
	
	sed -i 's/getaurora\.dev/github\.com\/reisaraujo-miguel\/felux/' /usr/share/kde-settings/kde-profile/default/xdg/kcm-about-distrorc
	
	sed -i 's/Aurora-DX/Felux/' /usr/share/kde-settings/kde-profile/default/xdg/kcm-about-distrorc
	sed -i 's/Aurora/Felux/' /usr/libexec/ublue-flatpak-manager
	
	sed -i 's/aurora-dx/felux/' /usr/share/ublue-os/image-info.json
	sed -i 's/ublue-os\/aurora-dx/reisaraujo-miguel\/felux/' /usr/share/ublue-os/image-info.json

	#### Remove Vscode config files ####
	rm /etc/profile.d/vscode-bluefin-profile.sh
	rm -r /etc/skel/.config/Code/

    #### Configure Kitty ####

    # Change kitty icon
    install -d ${outroot}/usr/local/share/icons/hicolor/256x256/apps/
    wget -O ${outroot}/usr/local/share/icons/hicolor/256x256/apps/kitty.png https://github.com/DinkDonk/kitty-icon/blob/main/kitty-dark.png?raw=true

    # Add kitty default config and Catppuccin-Mocha theme
    install -d ${outroot}/etc/skel/.config/kitty
    copy ${REPO_ROOT}/configs/kitty.conf ${outroot}/etc/skel/.config/kitty/kitty.conf
    copy ${REPO_ROOT}/configs/current-theme.conf ${outroot}/etc/skel/.config/kitty/current-theme.conf

    # Make kitty the default terminal
    sed -i 's/^TerminalApplication=.*/TerminalApplication=kitty/' ${outroot}/usr/share/kde-settings/kde-profile/default/xdg/kdeglobals
    sed -i 's/^TerminalService=.*/TerminalService=kitty.desktop/' ${outroot}/usr/share/kde-settings/kde-profile/default/xdg/kdeglobals

    # Change pinned terminal to kitty
    sed -i 's/org\.gnome\.Ptyxis\.desktop/kitty.desktop/g' ${outroot}/usr/share/plasma/plasmoids/org.kde.plasma.taskmanager/contents/config/main.xml

    #### Configure Global Theme ####
    runcmd git clone --depth=1 https://github.com/catppuccin/kde ${outroot}/tmp/catppuccin-kde
    copy ${REPO_ROOT}/scripts/install-catppuccin-theme.sh ${outroot}/tmp/catppuccin-kde/install.sh
    runcmd chmod +x ${outroot}/tmp/catppuccin-kde/install.sh
    runcmd ${outroot}/tmp/catppuccin-kde/install.sh 2 4 1
    runcmd rm -rf ${outroot}/tmp/catppuccin-kde

    #### configure zsh ####
    remove ${outroot}/etc/skel/.zshrc
    remove ${outroot}/etc/skel/.zprofile

    copy ${REPO_ROOT}/configs/zshenv ${outroot}/etc/skel/.zshenv

    install -d ${outroot}/etc/skel/.config/zsh/theme

    copy ${REPO_ROOT}/configs/zsh/themes/catppuccin.zsh-theme ${outroot}/etc/skel/.config/zsh/theme/catppuccin.zsh-theme
    copy ${REPO_ROOT}/configs/zsh/zlogin ${outroot}/etc/skel/.config/zsh/.zlogin
    copy ${REPO_ROOT}/configs/zsh/zlogout ${outroot}/etc/skel/.config/zsh/.zlogout
    copy ${REPO_ROOT}/configs/zsh/zprofile ${outroot}/etc/skel/.config/zsh/.zprofile
    copy ${REPO_ROOT}/configs/zsh/zshrc ${outroot}/etc/skel/.config/zsh/.zshrc
</%block>
